<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <!-- 项目名字 -->
    <contextName>mavenp</contextName>

    <property name="LOG_HOME" value="./logs" />

    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%-10.15thread表示线程名，%highlight(%-5level)：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
            <pattern>%green(%d{yyyy-MM-dd HH:mm:ss.SSS Z}) %yellow(%-15.15t) %highlight(%-5p) %green(%-40.40c) %yellow(%-4L) %green(-) %m%n</pattern>
        </encoder>
    </appender>

    <!-- 日志记录 INFO 及其以下的日志 -->
    <appender name="ROLLING_INFO_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>${LOG_HOME}/info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/info/info-%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>60</maxHistory>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS Z} %-15.15t %-5p %-40.40c %-4L - %m%n</pattern>
        </encoder>
    </appender>


    <!-- 各级别的排序为：ALL < TRACE < DEBUG < INFO < WARN < ERROR < OFF -->
    <!-- root logger 的日志级别永远不会设置成一个非空的值，默认是 DEBUG。 -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="ROLLING_INFO_FILE"/>
    </root>

</configuration>